[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
boto = "*"
bleach = "*"
bs4 = "*"
boto3 = "*"
web.py = "*"
functools32 = "*"
pyOpenSSL = "*"
requests = "*"
python-twitch-client = "*"
expiringdict = "*"
apscheduler = "*"
pytz = "*"
cherrypy = "*"
gunicorn = "*"
Markdown = "*"

[requires]
python_version = "2.7"
