$def with ()

<style>
    .footer a {
        color: #ff0ba8;
    }

    .footer {
        position: relative;
        display: block;
        bottom: 10px;
        color: white;
        font-size: .8em;
        font-weight: bold;
        line-height: 1.5;
        margin-top: 150px;
        width: 100%;
    }
</style>


<footer class="footer">
    <center>
        <br>
        <a href="https://cheddar.com">&copy; 2017 Cheddar, Inc</a> |
        <a href="/info/api">API Documentation</a>
        <br>
    </center>
</footer>
