$def with ()

<style>
    .navbar {
        width: 100%;
        height: 125px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #202020;
    }

    .search {
        width: 25%;
        height: 30px;
        background-color: black;
        font-size: 1.3em;
        color: white;
    }

    .searchicon {
        height: 30px;
    }

</style>

<div class="navbar">
    <center>
        <input placeholder="Search Stocks and Players" class="search"/><img class="searchicon" src="/static/search.png">
    </center>
</div>

