$def with ()
<!DOCTYPE html>
<html lang="en">

<head>
$:render.elements.header()
</head>

<body>

$:render.elements.navbar()

<center>


    <h2>Portfolio Holdings Scatter Chart</h2>
    <br>

    $:render.elements.portfolio_scatter_chart()

    <hr>

    <h2>Portfolio Value Over Time</h2>

    <br>
    <div style="width:90%;">
        $:render.elements.portfolio_graph()
    </div>

    <hr>

    <h2>Portfolio Holdings</h2>

    <br>
    <div style="width:95%">
        $:render.elements.portfolio_weight_chart()
    </div>

    $:render.elements.footer()

</center>

</body>

</html>
