$def with (model)

$ date_profile = model['date_profile']
$ date_str = model['date_str']

<!DOCTYPE html>
<html lang="en">

<head>
$:render.elements.header()

    <script>
        jQuery(document).ready(
            function() {
                jQuery("#closedOrders").tablesorter();
                jQuery("#closedOrders").trigger("update");
                var table = jQuery('#closedOrders');
                table.floatThead();

                jQuery("#openOrders").tablesorter();
                jQuery("#openOrders").trigger("update");
                var table = jQuery('#openOrders');
                table.floatThead();
            }
        );
    </script>

    <style>
        .timestamp {
            white-space: nowrap;
        }
    </style>

</head>

<body>

$:render.elements.navbar()


<center>
    <hr>

    <h1>$:date_str</h1>

    <hr>
    <br>

    <h2>Portfolio Value</h2>

    <br>
    <div style="width:90%;">
        $:render.elements.portfolio_graph(model['portfolio_values'])
    </div>

    <hr>

    <h2>Positions Opened</h2>
    <table id="openOrders">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Buy Date</th>
            <th>Buy Price</th>
            <th>Quote</th>
            <th>Return $$</th>
            <th>Return %</th>
            <th>Owners</th>
        </tr>
        </thead>
        <tbody id="openOrdersBody">
        $for order in date_profile['influenced_orders']['open']:
            $ symbol = order['symbol']

            $ buy_time = scrub.human_date(order['buy_time'])

            $ recent_price = order['recent_price']
            $ buy_price = order['buy_price']
            $ difference = order['difference']
            $ liability = order['liability']
            $ percent_change = order['percent_change']

            <tr>
                <td class="symbol"><a href="/symbol/$:symbol">$:symbol</a></td>
                <td class="timestamp">$:buy_time</td>
                <td>$:scrub.dollar_value(buy_price)</td>
                <td>$:scrub.dollar_value(recent_price)</td>
                <td><span class="$:('loss' if difference < 0 else 'profit')">$:scrub.dollar_change(difference)</span></td>
                <td><span class="$:('loss' if percent_change < 0 else 'profit')">$:scrub.percent_change(percent_change)</span></td>
                <td>
                    $for player in order['liable_players']:
                        <span><a href="/player/$player">$player.split(":")[1]</a></span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>Positions Closed</h2>
    <table id="closedOrders">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Buy Date</th>
            <th>Sell Date</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Return $$</th>
            <th>Return %</th>
            <th>Owners</th>
        </tr>
        </thead>
        <tbody id="closedOrdersBody">
        $for order in date_profile['influenced_orders']['closed']:
            $ symbol = order['symbol']

            $ buy_time = scrub.human_date(order['buy_time'])
            $ sell_time = scrub.human_date(order['sell_time'])

            $ sell_price = order['sell_price']
            $ buy_price = order['buy_price']
            $ difference = order['difference']
            $ percent_change = order['percent_change']

            <tr>
                <td class="symbol"><a href="/symbol/$:symbol">$:symbol</a></td>
                <td class="timestamp">$:buy_time</td>
                <td class="timestamp">$:sell_time</td>
                <td>$:scrub.dollar_value(buy_price)</td>
                <td>$:scrub.dollar_value(sell_price)</td>
                <td><span class="$:('loss' if difference < 0 else 'profit')">$:scrub.dollar_change(difference)</span></td>
                <td><span class="$:('loss' if percent_change < 0 else 'profit')">$:scrub.percent_change(percent_change)</span></td>
                <td>
                    $for player in order['liable_players']:
                        <span><a href="/player/$player">$player.split(":")[1]</a></span>
                </td>
            </tr>
        </tbody>
    </table>


    $:render.elements.footer()

</center>

</body>

</html>
