$def with ()

$ positions = model['positions']
$ player_profile = model['player_profile']
$ profile_stats = model['profile_stats']
$ twitch_user = model['twitch_user']

$ total_trades = float(profile_stats['profitable_trades'] + profile_stats['unprofitable_trades'])
$ total_trades = 1 if total_trades == 0 else total_trades
$ percent_profitable = (profile_stats['profitable_trades'] / total_trades) * 100

<!DOCTYPE html>
<html lang="en">

<head>

    <title>$:twitch_user['display_name'] $:scrub.percent_change(profile_stats['total_percent_return'])</title>

    $:render.elements.header()

    <style>
        .profilebox {
            border: 1px dotted #ff0ba8;
            display: table-cell;
            padding: 10px;
            margin: 50px;
            overflow: hidden;
        }

        .avatar {
            width: 300px;
        }

        .buy-sell-piechart-container {
            display: inline-block;
            vertical-align: top;
            width: 300px;
        }

        .symbol-piechart-container {
            display: inline-block;
            vertical-align: top;
            width: 500px;
        }

        .date-graph-container {
            width: 95%;
        }

        .symbol a:hover {
            color: 007857;
            text-decoration: underline;
        }
    </style>


    <script>
        jQuery(document).ready(
            function() {
                jQuery("#closedOrders").tablesorter();
                jQuery("#closedOrders").trigger("update");
                var table = jQuery('#closedOrders');
                table.floatThead();

                jQuery("#openOrders").tablesorter();
                jQuery("#openOrders").trigger("update");
                var table = jQuery('#openOrders');
                table.floatThead();
            }
        );
    </script>

</head>

<body>

$:render.elements.navbar()

<br>

<center>

    <div class="profilebox">
        <center>
            <img class="avatar" src="$:twitch_user['logo']"/>
            <h2>$:twitch_user['display_name']</h2>
        </center>

        <br>

        <table id="overview">
            <tbody id="overviewBody">
            <tr><td>Profitable Trades</td><td>$:profile_stats['profitable_trades']</td></tr>
            <tr><td>Unprofitable Trades</td><td>$:profile_stats['unprofitable_trades']</td></tr>
            <tr><td>% Profitable</td><td>$:scrub.percent_value(percent_profitable)</td></tr>
            <tr><td>Trades Influenced</td><td>$:profile_stats['total_influenced']</td></tr>
            <tr>
                <td>Score</td>
                <td><span class="$:("loss" if profile_stats['total_percent_return'] < 0 else "profit")">$:scrub.percent_change(profile_stats['total_percent_return'])</span></td>
            </tr>
            </tbody>
        </table>​
    </div>

    <br>

    <table id="stats">
        <tbody id="statsBody">
        <tr>
            <td></td>
            <td>Spent</td>
            <td>Now/Sold</td>
            <td>Liability</td>
            <td>Return %</td>
        </tr>
        <tr>
            <td>Unrealized</td>
            <td><span>$:scrub.dollar_value(profile_stats['unrealized_buy_price'])</span></td>
            <td><span>$:scrub.dollar_value(profile_stats['unrealized_sell_price'])</span></td>
            <td><span class="$:("loss" if profile_stats['unrealized_return'] < 0 else "profit")">$:scrub.dollar_change(profile_stats['unrealized_return'])</span></td>
            <td><span class="$:("loss" if profile_stats['unrealized_percent_return'] < 0 else "profit")">$:scrub.percent_change(profile_stats['unrealized_percent_return'])</span></td>
        </tr>
        <tr>
            <td>Realized</td>
            <td><span>$:scrub.dollar_value(profile_stats['realized_buy_price'])</span></td>
            <td><span>$:scrub.dollar_value(profile_stats['realized_sell_price'])</span></td>
            <td><span class="$:("loss" if profile_stats['realized_return'] < 0 else "profit")">$:scrub.dollar_change(profile_stats['realized_return'])</span></td>
            <td><span class="$:("loss" if profile_stats['realized_percent_return'] < 0 else "profit")">$:scrub.percent_change(profile_stats['realized_percent_return'])</span></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><span>$:scrub.dollar_value(profile_stats['total_buy_price'])</span></td>
            <td><span>$:scrub.dollar_value(profile_stats['total_sell_price'])</span></td>
            <td><span class="$:("loss" if profile_stats['total_return'] < 0 else "profit")">$:scrub.dollar_change(profile_stats['total_return'])</span></td>
            <td><span class="$:("loss" if profile_stats['total_percent_return'] < 0 else "profit")">$:scrub.percent_change(profile_stats['total_percent_return'])</span></td>
        </tr>
        </tbody>
    </table>​

    <hr>

    <h2>Open Positions</h2>
    <table id="openOrders">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Buy Date</th>
            <th>Buy Price</th>
            <th>Quote</th>
            <th>Influence</th>
            <th>Return $$</th>
            <th>Return %</th>
            <th>Liability</th>
        </tr>
        </thead>
        <tbody id="openOrdersBody">
        $for order in player_profile['influenced_orders']['open']:
            $ symbol = order['symbol']

            $ buy_time = datetime.fromtimestamp(order['buy_time'] / 1000).strftime('%m-%d-%y %H:%M')

            $ recent_price = order['recent_price']
            $ buy_price = order['buy_price']
            $ difference = order['difference']
            $ liability = order['liability']
            $ percent_change = order['percent_change']
            $ influence_percent = order['influence'] * 100

            <tr>
                <td class="symbol"><a href="/symbol/$:symbol">$:symbol</a></td>
                <td>$:buy_time</td>
                <td>$:scrub.dollar_value(buy_price)</td>
                <td>$:scrub.dollar_value(recent_price)</td>
                <td>$:scrub.percent_value(influence_percent)</td>
                <td><span class="$:("loss" if difference < 0 else "profit")">$:scrub.dollar_change(difference)</span></td>
                <td><span class="$:("loss" if percent_change < 0 else "profit")">$:scrub.percent_change(percent_change)</span></td>
                <td><span class="$:("loss" if liability < 0 else "profit")">$:scrub.dollar_change(liability)</span></td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>Closed Positions</h2>
    <table id="closedOrders">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Buy Date</th>
            <th>Sell Date</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Influence</th>
            <th>Return $$</th>
            <th>Return %</th>
            <th>Liability</th>
        </tr>
        </thead>
        <tbody id="closedOrdersBody">
        $for order in player_profile['influenced_orders']['closed']:
            $ symbol = order['symbol']

            $ buy_time = datetime.fromtimestamp(order['buy_time'] / 1000).strftime('%m-%d-%y&nbsp;%H:%M')
            $ sell_time = datetime.fromtimestamp(order['sell_time'] / 1000).strftime('%m-%d-%y&nbsp;%H:%M')

            $ sell_price = order['sell_price']
            $ buy_price = order['buy_price']
            $ difference = order['difference']
            $ percent_change = order['percent_change']
            $ influence_percent = order['influence'] * 100
            $ liability = order['liability']

            <tr>
                <td class="symbol"><a href="/symbol/$:symbol">$:symbol</a></td>
                <td>$:buy_time</td>
                <td>$:sell_time</td>
                <td>$:scrub.dollar_value(buy_price)</td>
                <td>$:scrub.dollar_value(sell_price)</td>
                <td>$:scrub.percent_value(influence_percent)</td>
                <td><span class="$:("loss" if difference < 0 else "profit")">$:scrub.dollar_change(difference)</span></td>
                <td><span class="$:("loss" if percent_change < 0 else "profit")">$:scrub.percent_change(percent_change)</span></td>
                <td><span class="$:("loss" if liability < 0 else "profit")">$:scrub.dollar_change(liability)</span></td>
            </tr>
        </tbody>
    </table>

    $:render.elements.footer()

</center>

</body>

</html>
