$def with (scoped_username, twitch_user)

$if twitch_user['logo'] is None:
    $ twitch_user['logo'] = "/static/8bitmoney.png"

$ player_profile = stockstream.player.compute_player_profile(scoped_username)
$ profile_stats = stockstream.player.get_profile_statistics(player_profile)
$ total_return = profile_stats['realized_return'] + profile_stats['unrealized_return']

$ open_symbols = set([order['symbol'] for order in player_profile['influenced_orders']['open']])
$ quote_map = robinhood.api.get_symbol_to_quotes(open_symbols)

$ total_trades = float(profile_stats['profitable_trades'] + profile_stats['unprofitable_trades'])
$ total_trades = 1 if total_trades == 0 else total_trades
$ percent_profitable = (profile_stats['profitable_trades'] / total_trades) * 100

<!DOCTYPE html>
<html lang="en">

<head>
    $:render.elements.header()

    <style>
        .profilebox {
            border: 1px dotted #ff0ba8;
            display: table-cell;
            padding: 10px;
            margin: 50px;
            overflow: hidden;
        }

        .avatar {
            width: 300px;
        }

        .buy-sell-piechart-container {
            display: inline-block;
            vertical-align: top;
            width: 300px;
        }

        .symbol-piechart-container {
            display: inline-block;
            vertical-align: top;
            width: 500px;
        }

        .date-graph-container {
            width: 95%;
        }

        .symbol a {
            color: white;
            text-decoration: none;
        }

        .symbol a:hover {
            color: 007857;
            text-decoration: underline;
        }


    </style>


    <script>
        jQuery(document).ready(
            function() {
                jQuery("#closedOrders").tablesorter();
                jQuery("#closedOrders").trigger("update");
                var table = jQuery('#closedOrders');
                table.floatThead();

                jQuery("#openOrders").tablesorter();
                jQuery("#openOrders").trigger("update");
                var table = jQuery('#openOrders');
                table.floatThead();
            }
        );
    </script>

</head>

<body>

$:render.elements.homelogo()

<br>
<hr>
<br>

<center>

    <div class="profilebox">
        <center>
            <img class="avatar" src="$:twitch_user['logo']"/>
            <h2>$:twitch_user['display_name']</h2>
        </center>

        <br>

        <table id="overview">
            <tbody id="overviewBody">
            <tr><td>Profitable Trades</td><td>$:profile_stats['profitable_trades']</td></tr>
            <tr><td>Unprofitable Trades</td><td>$:profile_stats['unprofitable_trades']</td></tr>
            <tr><td>% Profitable</td><td>$:"{:.2f}".format(abs(percent_profitable))%</td></tr>
            <tr><td>Trades Influenced</td><td>$:profile_stats['total_influenced']</td></tr>
            <tr><td></td><td></td></tr>
            <tr>
                <td>Realized Return</td>
                <td><span class="$:("loss" if profile_stats['realized_return'] < 0 else "profit")">$:("-" if profile_stats['realized_return'] < 0 else "+")$$$:"{:.2f}".format(abs(profile_stats['realized_return']))</span></td>
            </tr>
            <tr>
                <td>Unrealized Return</td>
                <td><span class="$:("loss" if profile_stats['unrealized_return'] < 0 else "profit")">$:("-" if profile_stats['unrealized_return'] < 0 else "+")$$$:"{:.2f}".format(abs(profile_stats['unrealized_return']))</span></td>
            </tr>
            <tr>
                <td>Average Return</td>
                <td><span class="$:("loss" if profile_stats['average_return'] < 0 else "profit")">$:("-" if profile_stats['average_return'] < 0 else "+")$$$:"{:.2f}".format(abs(profile_stats['average_return']))</span></td>
            </tr>
            <tr>
                <td>Total Return</td>
                <td><span class="$:("loss" if total_return < 0 else "profit")">$:("-" if total_return < 0 else "+")$$$:"{:.2f}".format(abs(total_return))</span></td>
            </tr>
            </tbody>
        </table>​

    </div>

    <hr>

    <h2>Open Positions</h2>
    <table id="openOrders">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Buy Date</th>
            <th>Buy Price</th>
            <th>Quote</th>
            <th>Influence</th>
            <th>Return $$</th>
            <th>Return %</th>
            <th>Liability</th>
        </tr>
        </thead>
        <tbody id="openOrdersBody">
        $for order in player_profile['influenced_orders']['open']:
            $ symbol = order['symbol']

            $ buy_time = datetime.fromtimestamp(order['buy_time'] / 1000).strftime('%m-%d-%y %H:%M:%S')

            $ quote = quote_map[symbol]
            $ recent_price = robinhood.quote.most_recent_price(quote)
            $ buy_price = order['buy_price']
            $ difference = recent_price - buy_price
            $ percent_change = (difference / buy_price * 100)

            $ influence_percent = order['influence'] * 100
            $ responsibility = difference * order['influence']

            <tr>
                <td class="symbol"><a href="/symbol/$:symbol">$:symbol</a></td>
                <td>$:buy_time</td>
                <td>\$$:"{:.2f}".format(abs(buy_price))</td>
                <td>\$$:"{:.2f}".format(abs(recent_price))</td>
                <td>$:"{:.2f}".format(abs(influence_percent))%</td>
                <td><span class="$:("loss" if difference < 0 else "profit")">$:("-" if difference < 0 else "+")$$$:"{:.2f}".format(abs(difference))</span></td>
                <td><span class="$:("loss" if percent_change < 0 else "profit")">$:("-" if percent_change < 0 else "+")$:"{:.2f}".format(abs(percent_change))%</span></td>
                <td><span class="$:("loss" if responsibility < 0 else "profit")">$:("-" if responsibility < 0 else "+")$$$:"{:.2f}".format(abs(responsibility))</span></td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>Closed Positions</h2>
    <table id="closedOrders">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Buy Date</th>
            <th>Sell Date</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Influence</th>
            <th>Return $$</th>
            <th>Return %</th>
            <th>Liability</th>
        </tr>
        </thead>
        <tbody id="closedOrdersBody">
        $for order in player_profile['influenced_orders']['closed']:
            $ symbol = order['symbol']

            $ buy_time = datetime.fromtimestamp(order['buy_time'] / 1000).strftime('%m-%d-%y %H:%M:%S')
            $ sell_time = datetime.fromtimestamp(order['sell_time'] / 1000).strftime('%m-%d-%y %H:%M:%S')

            $ sell_price = order['sell_price']
            $ buy_price = order['buy_price']
            $ difference = sell_price - buy_price
            $ percent_change = (difference / buy_price * 100)

            $ influence_percent = order['influence'] * 100
            $ responsibility = difference * order['influence']

            <tr>
                <td class="symbol"><a href="/symbol/$:symbol">$:symbol</a></td>
                <td>$:buy_time</td>
                <td>$:sell_time</td>
                <td>\$$:"{:.2f}".format(abs(buy_price))</td>
                <td>\$$:"{:.2f}".format(abs(sell_price))</td>
                <td>$:"{:.2f}".format(abs(influence_percent))%</td>
                <td><span class="$:("loss" if difference < 0 else "profit")">$:("-" if difference < 0 else "+")$$$:"{:.2f}".format(abs(difference))</span></td>
                <td><span class="$:("loss" if percent_change < 0 else "profit")">$:("-" if percent_change < 0 else "+")$:"{:.2f}".format(abs(percent_change))%</span></td>
                <td><span class="$:("loss" if responsibility < 0 else "profit")">$:("-" if responsibility < 0 else "+")$$$:"{:.2f}".format(abs(responsibility))</span></td>
            </tr>
        </tbody>
    </table>

    $:render.elements.footer()

</center>

</body>

</html>
