$def with (model)

$ orders = model['orders']
$ portfolio_stats = model['portfolio_stats']

<!DOCTYPE html>
<html lang="en">

<head>

<title>Portfolio</title>

$:render.elements.header()

<style>
    .symbol a:hover {
        color: white;
        text-decoration: underline;
    }

    .balance {
        color: #cccccc;
        margin-top: 100px;
        font-size: 1.8em;
        display: inline;
    }

    .assets {

    }

    #portfolio_container {
        display: inline-block;
    }

    #link_container {
        float: right;
    }
</style>


<script>
    jQuery(document).ready(
        function() {
            jQuery("#assets").tablesorter();
            jQuery("#assets").trigger("update");
            var table = jQuery('#assets');
            table.floatThead();
        }
    );
</script>

</head>

<body>

$:render.elements.navbar()

<center>

    <h1>Portfolio</h1>
    <hr>
    <br>

    $:render.elements.order_stats(model)

    <hr>
    <br>
    <h2>Pending Orders</h2>
    <table class="orders">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Side</th>
            <th>Shares</th>
            <th>Limit</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="ordersBody">
        $for order in orders:
            $ status = order['state']
            $if status == "filled" or status == "cancelled":
                $continue
            <tr>
                <td class="symbol"><a href="/symbol/$:order['symbol']">$:order['symbol']</a></td>
                <td>$:order['side']</td>
                <td>$:int(float(order['quantity']))</td>
                <td>$:scrub.dollar_value(order['price'])</td>
                <td>$:status</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>



    <h2>Assets</h2>
    <div id="portfolio_container">
        <div id="link_container">
            <a class="data_link" href="/portfolio.csv">.csv</a>
            <a class="data_link" href="/portfolio.json">.json</a>
        </div>
        <br>
        <br>
        <table id="assets">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Paid</th>
                <th>Quote</th>
                <th>\$ Change</th>
                <th>% Change</th>
                <th>Cost</th>
                <th>Value</th>
                <th>\$ Return</th>
                <th>Weight</th>
                <th>% Today</th>
            </tr>
            </thead>
            <tbody id="assetsBody">
            $for symbol in portfolio_stats['asset_stats']:
                $ asset_stat = portfolio_stats['asset_stats'][symbol]
                $ avg_cost = asset_stat['avg_cost']

                $ recent_price = asset_stat['recent_price']
                $ shares = asset_stat['shares']

                $ dollar_change = asset_stat['dollar_change']
                $ percent_change = asset_stat['percent_change']

                $ total_cost = asset_stat['total_cost']
                $ total_value = asset_stat['total_value']
                $ total_dollar_return = asset_stat['total_dollar_return']

                $ percent_portfolio = asset_stat['weight']
                $ percent_change_today = asset_stat['percent_change_today']
                <tr>
                <td class="symbol"><a href="/symbol/$:symbol">$:symbol</a></td>
                <td>$:shares</td>
                <td>$:scrub.dollar_value(avg_cost)</td>
                <td>$:scrub.dollar_value(recent_price)</td>
                <td><span class="$:('loss' if dollar_change < 0 else 'profit')">$:scrub.dollar_change(dollar_change)</span></td>
                <td><span class="$:('loss' if percent_change < 0 else 'profit')">$:scrub.percent_change(percent_change)</span></td>
                <td>$:scrub.dollar_value(total_cost)</td>
                <td>$:scrub.dollar_value(total_value)</td>
                <td><span class="$:('loss' if total_dollar_return < 0 else 'profit')">$:scrub.dollar_change(total_dollar_return)</span></td>
                <td>$:scrub.percent_value(percent_portfolio)</td>
                <td><span class="$:('loss' if percent_change_today < 0 else 'profit')">$:scrub.percent_change(percent_change_today)</span></td>
                </tr>
            </tbody>
        </table>​
    </div>

    <br>

    $:render.elements.footer()

</center>

</body>
</html>
