$def with (model)

$ scores = model['ranked_scores']

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Top Scores</title>

    $:render.elements.header()

    <style>

    </style>

    <script>
        jQuery(document).ready(
            function() {
                jQuery("#topScores").tablesorter();
                jQuery("#topScores").trigger("update");
                var table = jQuery('#topScores');
                table.floatThead();
            }
        );
    </script>

</head>

<body>

$:render.elements.navbar()

<br>

<center>

    <h2>Top Scores</h2>


    <table id="topScores">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Return %</th>
            <th>Return $$</th>
            <th>Trades</th>
            <th>Bought</th>
            <th>Sold</th>
        </tr>
        </thead>
        <tbody id="scores">
        $for i in range(0, len(scores)):
            $ score = scores[i]
            $ trades = score['qualifiedTrades']

            $if trades < 10:
                $ break

            $ player = score['playerId']
            $ decimal_return = score['decimalReturn']
            $ dollar_return = score['dollarReturn']
            $ bought = score['dollarsSpent']
            $ sold = score['dollarsSold']


            <tr>
                <td class="rank">$:(i+1)</td>
                <td class="player"><a href="/player/$:player">$:player.split(":")[1]</a></td>
                <td><span class="$:('loss' if decimal_return < 0 else 'profit')">$:scrub.percent_change(decimal_return * 100)</span></td>
                <td><span class="$:('loss' if dollar_return < 0 else 'profit')">$:scrub.dollar_change(dollar_return)</span></td>
                <td class="trades">$:trades</td>
                <td><span>$:scrub.dollar_value(bought)</span></td>
                <td><span>$:scrub.dollar_value(sold)</span></td>
            </tr>
        </tbody>
    </table>

    $:render.elements.footer()

</center>

</body>

</html>
