$def with (model)

$ scores = model['ranked_scores']

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Top Scores</title>

    $:render.elements.header()

    <style>

    </style>

    <script>
        jQuery(document).ready(
            function() {
                jQuery("#topScores").tablesorter();
                jQuery("#topScores").trigger("update");
                var table = jQuery('#topScores');
                table.floatThead();
            }
        );
    </script>

    <style>
        #scoresContainer {
            clear: both;
        }

        .score_name_link {
            color: white;
            text-decoration: none;
        }
    </style>

</head>

<body>

$:render.elements.navbar()

<br>

<center>

    <h1>Top Scores</h1>

    <hr/>

    $:render.elements.top_three(scores)

    <br>

    <div id="scoresContainer">
        $for i in range(3, len(scores)):
            $:render.elements.score_box(scores[i], i+1)
    </div>

    $:render.elements.footer()

</center>

</body>

</html>
